@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color1: #5f2c82;
}

body{
    background-image: url('imagens/target001.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

main{

    height: 500px;
    width: 300px;
    background-color: rgba(0, 255, 255, 0.505);
}